<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <ul class="nav nav-tabs tab-nav-right" id="navdiv" role="tablist">
                    <!-- position tabs goes here -->
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2 id="applicant-table-header">All Applicants</h2>
            </div>
            <div class="body">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="tablediv">
                        <table id="apllicantTable" class="table table-bordered table-striped table-hover"
                               cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Year</th>
                                <th>Stream</th>
                                <th>CV</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<script>

    $(document).ready(function () {

        var viewButton = '<a class="btn btn-info btn-sm  waves-effect ajaxView" style = "margin-right:10px;" title="View CV"> <i class="material-icons">description</i> </a>';

        var ajaxView = "ajaxView";

        // Set position tabs
        companyObject.positions.forEach(function (t) {
            var navtab = "<li role='presentation'><a class='positionTab' href='#tablediv' data-toggle='tab'>" + t + "</a></li>"
            $("#navdiv").append(navtab);
        });

        // Set active default position tab
        var positionTabs = $("#navdiv").children()[0];
        $(positionTabs).addClass('active');

        var position = companyObject.positions[0];

        var applicantTable = $('#apllicantTable').DataTable({
            dom: 'Bfrtip',
            responsive: true,
            buttons: [
             {
                extend: 'pdfHtml5',
                message: 'All Applicants',
                title: 'UCSC Career Fair 2017',
                filename: 'All Applicants',
                exportOptions: {
                    columns: [ 0, 1, 2, 3, 4]
                }
              }
            ],
            ajax: {
                url: domain + 'student_company/students/all',
                data: function (d) {
                    d.company = companyObject._id;
                    d.position = position;
                },
                dataSrc: 'result'
            },
            "columns": [{
                "data": "name"
            },
                {
                    "data": "email"
                },
                {
                    "data": "phone"
                },
                {
                    "data": "year",
                    "width": "15%"
                },
                {
                    "data": "stream",
                    "width": "12%"
                },
                {
                    "width": "10%",
                    "data": null,
                    "defaultContent": viewButton
                }
            ],
            "order": [
                [1, 'asc']
            ],
            initComplete: function () {
                this.api().columns().every(function () {
                    if (this[0] == 3 || this[0] == 4) {
                        var column = this;
                        var select = $('<select><option value=""></option></select>')
                            .appendTo($(column.header()).append('</br> '))
                            .on('change', function () {
                                var val = $.fn.dataTable.util.escapeRegex(
                                    $(this).val()
                                );
                                column
                                    .search(val ? '^' + val + '$' : '', true, false)
                                    .draw();
                            });
                        column.data().unique().sort().each(function (d, j) {
                            select.append('<option value="' + d + '">' + d + '</option>')
                        });
                    }
                });
            }
        });

        // Open CV pdf in new tab
        applicantTable.on("click", "." + ajaxView, function () {
            var rowData = applicantTable.row($(this).parents('tr')).data();
            var win = window.open(domain + 'uploads/' + rowData.cv);
        });

        function showErrorMessage(msg) {
            swal(msg + "!", '', "error");
        }

        //Changing position
        $('.positionTab').click(function () {
            position = $(this).text();
            applicantTable.ajax.reload();
        });
    });

</script>
