<script type="text/javascript">
    if (typeof userID == 'undefined') {
        window.location.replace('./');
    }
</script>

<div class="row clearfix">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <ul class="nav nav-tabs tab-nav-right" id="navdiv" role="tablist">
                    <!-- position tabs goes here -->
                </ul>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body" style="padding: 20px 10px;">
                <div style="height: 41px">
                    <div class="col-xs-2" id="student-count" style="padding: 0; font-size: 30px; margin-right: 8px; text-align: center;">4</div>
                    <div class="col-xs-3" style="padding: 0;">Slots reserved</div>
                    <div class="col-xs-offset-1 col-xs-2" id="panel-count" style="padding: 0; font-size: 30px; margin-right: 8px; text-align: center;">1</div>
                    <div class="col-xs-3" style="padding: 0;">Panel(s) required </br><button type="button" class="btn btn-default btn-circle waves-effect waves-circle waves-float" onclick="infomessage()">
                                    <i class="material-icons" style="color:#ff661a">info</i>
                                </button> </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-8 col-md-7 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Applicants</h2>
                <small id="applicant-table-header-position"></small>
            </div>
            <div class="body">
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="tablediv">
                        <table id="apllicantTable" class="table table-bordered table-striped table-hover"
                               cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th></th>
                                <th>Name</th>
                                <th>Year</th>
                                <th>Stream</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-5 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Shortlisted Applicants</h2>
                <small id="shortlist-table-header-position"></small>
            </div>
            <div class="body">
                <table id="shortListedTable" class="table table-bordered table-striped table-hover" cellspacing="0"
                       width="100%">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    if (typeof userID == 'undefined') {
        window.location.replace('./');
    } else {
        $(document).ready(function () {

            var selectButton = '<a class="btn btn-success btn-sm  waves-effect ajaxSelect" style = "margin-right:10px;" title="Shortlist"> <i class="material-icons">done_all</i> </a>';
            var viewButton = '<a class="btn btn-info btn-sm  waves-effect ajaxView" style = "margin-right:10px;" title="View CV"> <i class="material-icons">description</i> </a>';
            var removeButton = '<a class="btn btn-danger btn-sm waves-effect  ajaxRemove"> Remove</a>';

            var ajaxRemove = "ajaxRemove";
            var ajaxSelect = "ajaxSelect";
            var ajaxView = "ajaxView";

            // Set position tabs
            companyObject.positions.forEach(function (t) {
                var navtab = "<li role='presentation'><a class='positionTab' href='#tablediv' data-toggle='tab'>" + t + "</a></li>"
                $("#navdiv").append(navtab);
            });

            // Set active default position tab
            var positionTabs = $("#navdiv").children()[0];
            $(positionTabs).addClass('active');

            var position = companyObject.positions[0];
            $('#applicant-table-header-position').text(position);
            $('#shortlist-table-header-position').text(position);

            var applicantTable = $('#apllicantTable').DataTable({
                dom: 'Bfrtip',
                responsive: true,
                buttons: [
                    {
                        extend: 'pdfHtml5',
                        message: 'Not shortlisted applicants - ' + position,
                        title: 'UCSC Career Fair 2017',
                        filename: 'Not shortlisted applicants - ' + position,
                        exportOptions: {
                            columns: [1, 2, 3]
                        },
                        init: function(dt, node, config) {
                            $(".positionTab").on('click', function() {
                                config.message = config.filename = 'Not shortlisted applicants - ' + $(this).text();
                            });
                        }
                    }
                ],
                ajax: {
                    url: domain + 'student_company/students',
                    data: function (d) {
                        d.company = companyObject._id;
                        d.position = position;
                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", getToken());
                    },
                    dataSrc: 'result'
                },
                "columns": [{
                    "className": 'details-control',
                    "orderable": false,
                    "data": null,
                    "defaultContent": '',
                    "width": "10%"
                },
                    {
                        "data": "name"
                    },
                    {
                        "data": "year",
                        "width": "20%"
                    },
                    {
                        "data": "stream",
                        "width": "10%"
                    },
                    {
                        "width": "20%",
                        "data": null,
                        "defaultContent": viewButton + selectButton
                    }
                ],
                "order": [
                    [1, 'asc']
                ],
                // $(column.footer()).empty()
                initComplete: function () {
                    this.api().columns().every(function () {
                        if (this[0] == 2 || this[0] == 3) {
                            var column = this;
                            var select = $('<select><option value="">All</option></select>')
                                .appendTo($(column.header()).append('</br> '))
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );
                                    column
                                        .search(val ? '^' + val + '$' : '', true, false)
                                        .draw();
                                });
                            column.data().unique().sort().each(function (d, j) {
                                select.append('<option value="' + d + '">' + d + '</option>')
                            });
                        }
                    });
                },
                "language": {
                    "emptyTable": "Sorry! No applicants available for this position."
                }
            });

            // Add event listener for opening and closing details
            $('#apllicantTable tbody').on('click', 'td.details-control', function () {
                var tr = $(this).closest('tr');
                var row = applicantTable.row(tr);

                if (row.child.isShown()) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                } else {
                    // Open this row
                    row.child(format(row.data())).show();
                    tr.addClass('shown');
                }
            });

            function format(d) {
                // `d` is the original data object for the row
                return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
                    '<tr>' +
                    '<td>Full name:</td>' +
                    '<td>' + d.name + '</td>' +
                    '</tr>' +
                    '<tr>' +
                    '<td>Phone number:</td>' +
                    '<td>' + d.phone + '</td>' +
                    '</tr>' +
                    '<tr>' +
                    '<td>Year:</td>' +
                    '<td>' + d.year + '</td>' +
                    '</tr>' +
                    '<tr>' +
                    '<td>Email:</td>' +
                    '<td>' + d.email + '</td>' +
                    '</tr>' +
                    '<tr>' +
                    '<td>Stream:</td>' +
                    '<td>' + d.stream + '</td>' +
                    '</tr>' +
                    '</table>';
            }

            applicantTable.on("click", "." + ajaxSelect, function () {
                var rowData = applicantTable.row($(this).parents('tr')).data();
                var url = domain + "selected_student_company";
                var thisRow = $(this).parents('tr');
                var para = '&company=' + companyObject._id + '&student=' + rowData['userID'] + '&position=' + position;
                // console.log(url + para);
                ajaxSend("POST", para, "ajaxSelect", thisRow, url);
            });

            // Open CV pdf in new tab
            applicantTable.on("click", "." + ajaxView, function () {
                var rowData = applicantTable.row($(this).parents('tr')).data();
                var win = window.open(domain + 'uploads/' + rowData.cv);
            });

            // Event on table refresh - disable pdf buttons
            applicantTable.on('draw.dt', function () {
                if (applicantTable.data().length === 0) {
                    applicantTable.buttons().disable();
                } else {
                    applicantTable.buttons().enable();
                }
            });

            var shortListedTable = $('#shortListedTable').DataTable({
                dom: 'Bfrtip',
                responsive: true,
                buttons: [
                    {
                        extend: 'pdfHtml5',
                        message: 'Shortlisted Applicants - ' + position,
                        title: 'UCSC Career Fair 2017',
                        filename: 'Shortlisted Applicants - ' + position,
                        exportOptions: {
                            columns: [0]
                        },
                        init: function(dt, node, config) {
                            $(".positionTab").on('click', function() {
                                config.message = config.filename = 'Shortlisted applicants - ' + $(this).text();
                            });
                        }
                    }
                ],
                ajax: {
                    url: domain + 'selected_student_company/students',
                    data: function (d) {
                        d.company = companyObject._id;
                        d.position = position;
                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", getToken());
                    },
                    dataSrc: 'result'
                },
                "columns": [{
                    "data": "name"
                },
                    {
                        "width": "20%",
                        "data": null,
                        "defaultContent": removeButton
                    }
                ],
                "language": {
                    "emptyTable": "No applicants shortlisted for this position."
                }
            });

            shortListedTable.on("click", "." + ajaxRemove, function () {
                var rowData = shortListedTable.row($(this).parents('tr')).data();
                var thisRow = $(this).parents('tr');
                var para = '';
                var url = domain + 'selected_student_company/' + rowData['_id'];
                // console.log(url + para);
                ajaxSend("DELETE", para, "ajaxRemove", thisRow, url);
            });

            // Event on table refresh - disable pdf buttons and set count and panels
            shortListedTable.on('draw', function () {
                var para = {company: companyObject._id};
                var url = domain + "selected_student_company/student_count";
                ajaxSend("GET", para, "ajaxCount", null, url);
                if (shortListedTable.data().length === 0) {
                    shortListedTable.buttons().disable();
                } else {
                    shortListedTable.buttons().enable();
                }
            });

            function ajaxSend(type, params, action, clickRow, url) {
                $.ajax({
                    type: type,
                    url: url,
                    data: params,
                    dataType: "json",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", getToken());
                    },
                    success: function (response) {
                        switch (action) {
                            case "ajaxRemove":
                                if (response.status == 'success') {
                                    showSuccessNotification("Student removed successfully!");
                                    shortListedTable.row(clickRow).remove().draw();
                                    applicantTable.ajax.reload(null, false);
                                } else {
                                    showErrorMessage("Unexpected error #1, Please try again");
                                    // console.log(response);
                                }
                                break;

                            case "ajaxSelect":
                                if (response.status == 'success') {
                                    showSuccessNotification("Student short listed successfully!");
                                    applicantTable.row(clickRow).remove().draw();
                                    shortListedTable.ajax.reload(null, false);
                                } else {
                                    showErrorMessage("Unexpected error #2, Please try again");
                                    // console.log(response);
                                }
                                break;

                            case "ajaxCount":
                                if (response.status == 'success') {
                                    $('#student-count').text(response.data);
                                    $('#panel-count').text(Math.ceil(response.data / 8));
                                } else {
                                    showErrorMessage("Unexpected error #2, Please try again");
                                    // console.log(response);
                                }
                                break;
                        }
                    },
                    error: function (xhr, status, error) {
                        // console.log(xhr);
                        showErrorMessage("Unexpected error");
                        // console.log(status, error);
                    }
                });
            }

            function showErrorMessage(msg) {
                swal(msg + "!", '', "error");
            }

            function showSuccessNotification(msg) {
                showNotification('alert-success', msg, 'top', 'right', null, null, 2000);
            }

            //Changing position
            $('.positionTab').click(function () {
                $('#applicant-table-header-position').text($(this).text());
                $('#shortlist-table-header-position').text($(this).text());
                position = $(this).text();
                applicantTable.ajax.reload();
                shortListedTable.ajax.reload();
            });
        });
    }

    function infomessage(){
      swal("Hello world!");
    }

</script>
