<!-- Exportable Table -->
<div class="row clearfix">
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
        <div class="card">
            <div class="header">
                <h2>
                    Student List
                </h2>
            </div>
            <div class="body">
                <table id = "studentTable" class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Year</th>
                        <th>Email</th>
                        <th>Stream</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
        <div class="card">
            <div class="header">
                <h2>
                    Selected Students
                </h2>
                <ul class="header-dropdown m-r--5">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);">Action</a></li>
                            <li><a href="javascript:void(0);">Another action</a></li>
                            <li><a href="javascript:void(0);">Something else here</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div id="list1" class="list-group"></div>
            </div>
        </div>
        <button type="button" class="btn btn-success waves-effect">Submit</button>
    </div>
</div>
<!-- #END# Exportable Table -->

<script>
    $(document).ready(function() {
        var studentTable = $('#studentTable').DataTable({
            dom: 'Bfrtip',
            responsive: true,
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ],
            ajax: {
                url: 'http://localhost:3000/student/all',
                dataSrc: 'result'
            },
            "columns": [
                { "data": "name" },
                { "data": "phone" },
                { "data": "year" },
                { "data": "email" },
                { "data": "stream" }
            ]
        });
    });
</script>

<script>
    //

    $("#studentTable.body tr").click(function() {
        $(this).remove();

//        var table = document.getElementById("tableBody");
//        row2=document.createElement("tr");
//        row2.innerHTML = "<div id=\"collapseTwo_1\" class=\"panel-collapse collapse\" role=\"tabpanel\" aria-labelledby=\"headingTwo_1\"> " +
//            "<div class=\"panel-body\">Anim pariatur cliche reprehenderit</div> " +
//            "</div> "
//        table.appendChild(row2);

        listItem = document.createElement("a");
        listItem.className = "list-group-item";
        listItem.innerHTML = $(this).children("td").html();
        list = document.getElementById("list1");
        list.appendChild(listItem);
    });
</script>