<script type="text/javascript">
    if (typeof userID == 'undefined') {
        window.location.replace('./');
    }
</script>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>General Contact</h2>
            </div>
            <div class="body">
                <p><b>E-mail:</b> <a href="mailto:ucsc.careers@gmail.com" target="_top">ucsc.careers@gmail.com</a></p>

                <p><b>Read Documentation </b>
                    <a href="https://docs.google.com/document/d/14qdmVulSzfPqcIKAwzKiDtwyQ2uc4sNyRt3vJPh5FGA/edit?usp=sharing" target="_blank">
                        here
                    </a>
                </p>
            </div>
        </div>

        <div class="card">
            <div class="header">
                <h2>Technical Support</h2>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <span class="col-lg-offset-1 col-lg-5 col-md-6 col-sm-12 col-xs-12">
                        <h4>Chamath Silva</h4>
                        <p><b>E-mail:</b> <a href="mailto:mbckchamathsilva@gmail.com" target="_top">mbckchamathsilva@gmail.com</a></p>
                        <p><b>Mobile:</b> 077 317 4017</p>
                    </span>
                        <span class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        <h4>Vihanga Liyanage</h4>
                        <p><b>E-mail:</b> <a href="mailto:vihangaliyanage007@gmail.com" target="_top">vihangaliyanage007@gmail.com</a></p>
                        <p><b>Mobile:</b> 071 012 4103</p>
                    </span>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="header">
                <h2>Our Team</h2>
            </div>
            <div class="body">
                <div class="row clearfix">
                    <div class="col-md-6 col-sm-12" >
                        <div class="col-md-offset-1 col-md-3 col-sm-12">
                            <img class="circle-img"
                                 src="https://media.licdn.com/media/AAEAAQAAAAAAAAvcAAAAJDE1OTI0YWIzLTE0ZTktNDA1Ny1iZjFmLTUwYjM1OWQ0NzQ1Yw.jpg"
                                 alt="Vihanga Liyanage">
                        </div>
                        <div class="col-md-8 col-sm-12 team-content">
                            <a href="https://www.linkedin.com/in/vihanga-liyanage/" target="_blank">
                                <h4>Vihanga Liyanage</h4>
                            </a>
                            <p>Developer</p>
                            <!--<a href="">-->
                                <!--<img src="../../assets/images/g+icon.png" class="social-icon" alt="Google plus">-->
                            <!--</a>-->
                            <!--<a href="">-->
                                <!--<img src="../../assets/images/GitHub-Mark-32px.png" class="social-icon" alt="Github">-->
                            <!--</a>-->
                            <!--<a href="">-->
                                <!--<img src="../../assets/images/In-2C-34px-R.png" class="social-icon" alt="LinkedIn">-->
                            <!--</a>-->
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="col-md-offset-1 col-md-3 col-sm-12">
                            <img class="circle-img"
                                 src="https://media.licdn.com/media/AAEAAQAAAAAAAAifAAAAJGJjOTRmOWY3LTMwYjctNGZlNi1hNjAwLTYyYzQ2NjQ4YmE0ZQ.jpg"
                                 alt="Chamath Silva">
                        </div>
                        <div class="col-md-8 col-sm-12 team-content">
                            <a href="https://www.linkedin.com/in/chamathsilva/" target="_blank">
                                <h4>Chamath Silva</h4>
                            </a>
                            <p>Developer</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="col-md-offset-1 col-md-3 col-sm-12">
                            <img class="circle-img"
                                 src="https://media.licdn.com/media/p/7/005/084/318/2dd09ad.jpg"
                                 alt="Ashan Maduranga">
                        </div>
                        <div class="col-md-8 col-sm-12 team-content">
                            <a href="https://www.linkedin.com/in/ashanme/" target="_blank">
                                <h4>Ashan Maduranga</h4>
                            </a>
                            <p>Developer</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <div class="col-md-offset-1 col-md-3 col-sm-12">
                            <img class="circle-img"
                                 src="https://media.licdn.com/media/AAEAAQAAAAAAAApTAAAAJDg5YjIwNWQ3LTI4NjItNDBhNS04OWQzLTNkNzVmMjdmYWUzMw.jpg"
                                 alt="Pasan Ranathunga">
                        </div>
                        <div class="col-md-8 col-sm-12 team-content">
                            <a href="https://www.linkedin.com/in/pasanranathunga/" target="_blank">
                                <h4>Pasan Ranathunga</h4>
                            </a>
                            <p>UI/UX Engineer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
