<script type="text/javascript">
    if (typeof userID == 'undefined') {
        window.location.replace('./');
    }
</script>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <ul class="nav nav-tabs tab-nav-right" id="navdiv" role="tablist">
                    <!-- position tabs goes here -->
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    All Short Listed Applicants
                    <span id="shortlist-table-header-position" style="color: #9f9f9f; font-size: 80%"></span>
                </h2>
            </div>
            <div class="body">
                <table id="shortListedTable" class="table table-bordered table-striped table-hover" cellspacing="0"
                       width="100%">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Year</th>
                        <th>Stream</th>
                        <th>CV</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript">

    if (typeof userID == 'undefined') {
        window.location.replace('./');
    } else {
        $(document).ready(function () {

            var viewButton = '<a class="btn btn-info btn-sm  waves-effect ajaxView" style = "margin-right:10px;" title="View CV"> <i class="material-icons">description</i> </a>';
            var ajaxView = "ajaxView";

            // Set position tabs
            companyObject.positions.forEach(function (t) {
                var navtab = "<li role='presentation'><a class='positionTab' href='#tablediv' data-toggle='tab'>" + t + "</a></li>"
                $("#navdiv").append(navtab);
            });

            // Set active default position tab
            var positionTabs = $("#navdiv").children()[0];
            $(positionTabs).addClass('active');

            var position = companyObject.positions[0];
            $('#shortlist-table-header-position').text(position);

            var shortListedTable = $('#shortListedTable').DataTable({
                dom: 'Bfrtip',
                responsive: true,
                "order": [[ 3, "asa" ]],
                buttons: [
                    {
                        extend: 'pdfHtml5',
                        message: 'All shortlisted Applicants - ' + position,
                        title: 'UCSC Career Fair 2017',
                        filename: 'All shortlisted Applicants - ' + position,
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4]
                        },
                        init: function(dt, node, config) {
                            $(".positionTab").on('click', function() {
                                config.message = config.filename = 'All shortlisted applicants - ' + $(this).text();
                            });
                        }
                    }
                ],
                ajax: {
                    url: domain + 'selected_student_company/students',
                    data: function (d) {
                        d.company = companyObject._id;
                        d.position = position;
                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", getToken());
                    },
                    dataSrc: 'result'
                },
                "columns": [{
                    "data": "name"
                },
                    {
                        "data": "email"
                    },
                    {
                        "data": "phone"
                    },
                    {
                        "data": "year",
                        "width": "15%"
                    },
                    {
                        "data": "stream",
                        "width": "12%"
                    },
                    {
                        "width": "10%",
                        "data": null,
                        "defaultContent": viewButton
                    }
                ],
                initComplete: function () {
                    this.api().columns().every(function () {
                        if (this[0] == 3 || this[0] == 4) {
                            var column = this;
                            var select = $('<select><option value="">All</option></select>')
                                .appendTo($(column.header()).append('</br> '))
                                .on('change', function () {
                                    var val = $.fn.dataTable.util.escapeRegex(
                                        $(this).val()
                                    );
                                    column
                                        .search(val ? '^' + val + '$' : '', true, false)
                                        .draw();
                                });
                            // column.data().unique().sort().each(function (d, j) {
                            //     select.append('<option value="' + d + '">' + d + '</option>')
                            // });
                            // Todo - implemet dynamic method - along with ajax reload
                            var selectors;
                            if (this[0] == 3){
                              selectors = ['4th Year','3rd year','Passed Out'];
                            }else {
                              selectors = ['CS','SE','IS'];
                            }

                            $.each(selectors, function (index, d) {
                              select.append('<option value="' + d + '">' + d + '</option>')
                            });
                        }
                    });
                },
                "language": {
                    "emptyTable": "No applicants shortlisted for this position."
                }
            });

            // Open CV pdf in new tab
            shortListedTable.on("click", "." + ajaxView, function () {
                var rowData = shortListedTable.row($(this).parents('tr')).data();
                var win = window.open(domain + 'uploads/' + rowData.cv);
            });

            // Event on table refresh - disable pdf buttons
            shortListedTable.on('draw.dt', function () {
                if (shortListedTable.data().length === 0) {
                    shortListedTable.buttons().disable();
                } else {
                    shortListedTable.buttons().enable();
                }
            });

            function showErrorMessage(msg) {
                swal(msg + "!", '', "error");
            }

            //Changing position
            $('.positionTab').click(function () {
                $('#shortlist-table-header-position').text($(this).text());
                position = $(this).text();
                shortListedTable.ajax.reload();
            });
        });
    }

</script>
