<!-- Exportable Table -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Company Table
                </h2>
            </div>
            <div class="body">
                <table id = "companyTable" class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Company</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- #END# Exportable Table -->

<script>
$(document).ready(function() {
  var companyTable = $('#companyTable').DataTable({
    dom: 'Bfrtip',
    responsive: true,
    buttons: [
        'copy', 'csv', 'excel', 'pdf', 'print'
    ],
      ajax: {
          url: 'http://localhost:3000/student_company/companies/Viboda',
          dataSrc: 'result',
      },
      "columns": [
          { "data": "_id" },
          { "data": "company" }
      ]
  });
});
</script>
