<script type="text/javascript">
    if (typeof userID == 'undefined') {
        window.location.replace('./');
    }
</script>

<div class="row clearfix">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Available Companies</h2>
            </div>
            <div class="body">
                <table id="companyTable" class="table table-bordered table-striped table-hover" cellspacing="0"
                       width="100%">
                    <thead>
                    <tr>
                        <th>Company Name</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Selected Companies
                </h2>
            </div>
            <div class="body">
                <table id="chosedTable" class="table table-bordered table-striped table-hover" cellspacing="0"
                       width="100%">
                    <thead>
                    <tr>
                        <th>Company Name</th>
                        <th>Position</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal Dialogs ====================================================================================================================== -->
<!-- Default Size -->
<div class="modal fade" id="positionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog model-sm" role="document">
        <div class="modal-content ">
            <div class="modal-header">
                <h4 class="modal-title" id="positionModalLabel">Positios - Comapny Name</h4>
            </div>

            <div id="positionModalBody" class="modal-body">
                <form name="positionForm_" id="positionForm">
                    <div id="position-form-group" class="form-group">
                          <!--dyanamically append data  -->
                    </div>
                </form>
            </div>

            <div class="modal-footer ">
                <button type="button" class="btn btn-warning waves-effect" data-dismiss="modal">CLOSE</button>
                <button type="button" class="btn btn-info waves-effect saveButton">SAVE CHANGES</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    if (typeof userID == 'undefined') {
        window.location.replace('./');
    } else {
        $(document).ready(function () {

            var selectButton = '<a class="btn btn-warning waves-effect btn-sm ajaxSelect"> Select</a>';
            var removeButton = '<a class="btn btn-danger waves-effect btn-sm ajaxRemove"> Remove</a>';
            var ajaxRemove = "ajaxRemove";
            var ajaxSelect = "ajaxSelect";
            var saveButton = "saveButton";
            var positionModal = $('#positionModal');
            var positionForm = $('#positionForm');

            // <button type="button" class="btn btn-default waves-effect m-r-20" data-toggle="modal" data-target="#positionModal">MODAL - DEFAULT SIZE</button>

            var companyTable = $('#companyTable').DataTable({
                dom: 'Bfrtip',
                responsive: true,
                buttons: [],
                ajax: {
                    url: domain + 'company/withoutselected/' + userID,
                    dataSrc: 'result',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", getToken());
                    },
                },
                "columns": [{
                    "data": "name"
                },
                    {
                        "data": null,
                        "defaultContent": selectButton
                    }
                ],
                "language": {
                    "emptyTable": "No companies available."
                }
            });

            var chosedTable = $('#chosedTable').DataTable({
                dom: 'Bfrtip',
                responsive: true,
                buttons: [],
                ajax: {
                    url: domain + 'student_company/companies/' + userID,
                    dataSrc: 'result',
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", getToken());
                    }
                },
                "columns": [{
                    "data": "company"
                },
                    {
                        "data": "position"
                    },
                    {
                        "data": null,
                        "defaultContent": removeButton
                    }
                ],
                "language": {
                    "emptyTable": "You have not selected any companies."
                }
            });

            chosedTable.on("click", "." + ajaxRemove, function () {
                var rowData = chosedTable.row($(this).parents('tr')).data();
                var thisRow = $(this).parents('tr');
                var para = '';
                var url = domain + 'student_company/' + rowData['_id'];
                //            console.log(url + para);nfirm: true,
                ajaxSend("DELETE", para, "ajaxRemove", thisRow, url);
            });

            var rowData2 = "";
            var para2 = "";
            var thisRow2 = "";
            companyTable.on("click", "." + ajaxSelect, function () {
                rowData2 = companyTable.row($(this).parents('tr')).data();
                thisRow2 = $(this).parents('tr');
                para2 = '&student=' + userID + '&company=' + rowData2['_id'] + '&choice=' + rowData2['name'];
                //            console.log(rowData2);
                positionModal.modal('toggle');
            });

            positionModal.on('show.bs.modal', function (event) {
                var modal = $(this);
                modal.find('#positionModalLabel').html(rowData2["name"] + " - Positions");
                // position-form-group
                $.each(rowData2["positions"], function (index, value) {
                    //                console.log(index + ": " + value);
                    var checkbox_div = "<div class='form-group'>" +
                        "<input type='checkbox' name='position[]' value = '" + value + "' id=" + index + " class='filled-in chk-col-blue'/>" +
                        "<label for=" + index + ">" + value + "</label>" +
                        "</div>";
                    $("#position-form-group").append(checkbox_div);
                });
            });

            positionModal.on('hidden.bs.modal', function (e) {
                $("#position-form-group").empty();
            });

            function getCheckedPositions() {
                var temp2 = "";
                $("input[name='position[]']").each(function () {
                    if ($(this).is(':checked')) {
                        temp2 = temp2.concat(String($(this).val()),"!#");
                    }
                });
                return temp2;
            }

            positionModal.on("click", "." + saveButton, function () {
                if (positionForm.valid()) {
                    var fullpara = para2 + '&position=' + encodeURIComponent(getCheckedPositions());
                    var url = domain + "student_company";
                    ajaxSend("POST", fullpara, "ajaxSave", thisRow2, url);
                }
            });

            function reset_selection() {
                var rowData2 = "";
                var para2 = "";
                var thisRow2 = "";
            }

            function ajaxSend(type, params, action, clickRow, url) {
                $.ajax({
                    type: type,
                    url: url,
                    data: params,
                    dataType: "json",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", getToken());
                    },
                    success: function (response) {
                        switch (action) {
                            case "ajaxRemove":
                                if (response.status == 'success') {
                                    showSuccessNotification("Company removed successfully!");
                                    chosedTable.row(clickRow).remove().draw();
                                    companyTable.ajax.reload(null, false)
                                } else {
                                    showErrorMessage("Unexpected error #1, Please try again");
                                    // console.log(response);
                                }
                                break;

                            case "ajaxSave":
                                if (response.status == 'success') {
                                    positionModal.modal('toggle');
                                    showSuccessNotification("Company selected successfully!");
                                    companyTable.row(clickRow).remove().draw();
                                    chosedTable.ajax.reload(null, false);
                                    reset_selection();
                                } else {
                                    showErrorMessage("Unexpected error #2, Please try again");
                                    // console.log(response);
                                }
                                break;
                        }
                    },
                    error: function (xhr, status, error) {
                        // console.log(xhr);
                        alert("Unexpected error");
                        // console.log(status, error);
                        showErrorMessage(error);
                    }
                });
            }

            function showSuccessNotification(msg) {
                showNotification('alert-success', msg, 'top', 'right', null, null, 1500);
            }

        });

        $(function () {
            $('#positionForm').validate({
                rules: {
                    'position[]': {
                        required: true
                    }
                },
                messages: {
                    'position[]': "You have to select at least one position",
                },
                highlight: function (input) {
                    // console.log(input);
                    $(input).parents('.form-line').addClass('error');
                },
                unhighlight: function (input) {
                    $(input).parents('.form-line').removeClass('error');
                },
                errorPlacement: function (error, element) {
                    // $(element).parents('.form-group').append(error);
                    $("#position-form-group").append(error);
                    // console.log(error);
                }
            });
        });

        $(function () {
            $.AdminBSB.input.activate();
            $.AdminBSB.select.activate();
        });
    }
</script>
