<script type="text/javascript">
    if (typeof userID == 'undefined') {
        window.location.replace('./');
    }
</script>

<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2 id="page-header">
                    Upload Your CV
                </h2>
            </div>
            <div class="body">

                <form name="cvForm" enctype="multipart/form-data" id="form_validation">
                    <p>Upload New CV</p>
                    <div class="form-group">
                        <div class="form-line">
                            <div class="fallback">
                                <input name="file" type="file" accept="application/pdf" required/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary waves-effect" type="submit" id="submit-btn">UPLOAD</button>
                    </div>
                </form>

                <div class="form-line">
                    <div id="cv-pdf-view">
                        <!-- pdf appear here -->
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    if (typeof userID == 'undefined') {
        window.location.replace('./');
    } else {
        $(document).ready(function () {
            // Getting cv details
            $.ajax({
                type: "GET",
                url: domain + "cv",
                data: {
                    userID: userID
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", getToken());
                },
                dataType: "json",
                success: function (response) {
                    if (response.success == true) {
                        if (response.data.length > 0) {
                            setPdfView(response.data[0].filename);
                        }
                    } else {
                        showErrorMessage("Something went wrong");
                        console.log(response);
                    }
                    //                    console.log(response);
                },
                error: function (xhr, status, error) {
                    showErrorMessage("Something went wrong");
                    console.log(xhr);
                    console.log(status, error);
                }
            });

            // Uploading new cv
            $('#form_validation').submit(function (e) {
                if ($(this).valid()) {
                    e.preventDefault();
                    // check file type
                    var ext = $('input[name=file]').val().split('.').pop().toLowerCase();
                    if ($.inArray(ext, ['pdf']) == -1) {
                        showErrorMessage('We accept only PDF formatted file!', 'Error');
                    } else {
                        var formData = new FormData(this);
                        formData.append('userID', userID);
                        formData.append('studentName', studentObject.name);
                        swal({
                            title: "Please confirm your upload.",
                            text: "Submit to upload your CV",
                            type: "info",
                            showCancelButton: true,
                            closeOnConfirm: false,
                            showLoaderOnConfirm: true
                        }, function () {
                            $.ajax({
                                type: "POST",
                                url: "/cv/upload",
                                data: formData,
                                processData: false,
                                contentType: false,
                                beforeSend: function (xhr) {
                                    xhr.setRequestHeader("Authorization", getToken());
                                },
                                success: function (response) {
                                    if (response.success == true) {
                                        showSuccessMessage(response.msg);
                                        setPdfView(response.data.filename);
                                    } else {
                                        showErrorMessage(response.msg);
                                        console.log(response);
                                    }
                                },
                                error: function (xhr, status, error) {
                                    console.log(xhr);
                                    console.log(status, error);
                                }
                            });
                        });

                    }
                }
                return false;
            });
        });

        function setPdfView(filename) {
            // clear input feild
            $('input[name=file]').val('');

            // clear pdf embed if exists
            $('#cv-pdf-view').empty();

            var pdfEmbed = document.createElement("embed");
            pdfEmbed.setAttribute("src", "/uploads/" + filename);
            pdfEmbed.setAttribute("width", "100%");
            pdfEmbed.setAttribute("height", "1000px");
            pdfEmbed.setAttribute("type", "application/pdf");
            $('#cv-pdf-view').append(pdfEmbed);

            $('#submit-btn').text('UPDATE');
            $('#page-header').text('Your CV');
        }

        $(function () {
            $('#form_validation').validate({
                highlight: function (input) {
                    console.log(input);
                    $(input).parents('.form-line').addClass('error');
                },
                unhighlight: function (input) {
                    $(input).parents('.form-line').removeClass('error');
                },
                errorPlacement: function (error, element) {
                    $(element).parents('.input-group').append(error);
                    $(element).parents('.form-group').append(error);
                }
            });
        });

        $(function () {
            $.AdminBSB.input.activate();
            $.AdminBSB.select.activate();
        });
    }
</script>
