<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
</head>
<body>

<style type="text/css">
    table, th, td {
        border: 1px solid;
    }
    .off {
        background-color: gray;
    }
    .on {
        background-color: white;
    }
</style>
    <table id="table">
        <thead>
            <tr>
                <td>Student</td>
                <td>C1</td>
                <td>C2</td>
                <td>C3</td>
                <td>C4</td>
                <td>C5</td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>s1</td>
                <td class="off"></td>
                <td class="on"><div contenteditable></div></td>
                <td class="off"></td>
                <td class="off"></td>
                <td class="on"><div contenteditable></div></td>
            </tr>
            <tr>
                <td>s2</td>
                <td class="on"><div contenteditable></div></td>
                <td class="on"><div contenteditable></div></td>
                <td class="off"></td>
                <td class="off"></td>
                <td class="on"><div contenteditable></div></td>
            </tr>
            <tr>
                <td>s3</td>
                <td class="off"></td>
                <td class="on"><div contenteditable></div></td>
                <td class="on"><div contenteditable></div></td>
                <td class="on"><div contenteditable></div></td>
                <td class="off"></td>
            </tr>
            <tr>
                <td>s4</td>
                <td class="on"><div contenteditable></div></td>
                <td class="off"></td>
                <td class="off"></td>
                <td class="off"></td>
                <td class="on"><div contenteditable></div></td>
            </tr>
        </tbody>
    </table>

<!-- Jquery Core Js -->
<script src="../../assets/plugins/jquery/jquery.min.js"></script>

<!-- Bootstrap Core Js -->
<script src="../../assets/plugins/bootstrap/js/bootstrap.js"></script>

<!-- Select Plugin Js -->
<script src="../../assets/plugins/bootstrap-select/js/bootstrap-select.js"></script>

<!-- Slimscroll Plugin Js -->
<script src="../../assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

<!-- Jquery Validation Plugin Css -->
<script src="../../assets/plugins/jquery-validation/jquery.validate.js"></script>

<!-- JQuery Steps Plugin Js -->
<script src="../../assets/plugins/jquery-steps/jquery.steps.js"></script>

<!-- Jquery DataTable Plugin Js -->
<script src="../../assets/plugins/jquery-datatable/jquery.dataTables.js"></script>
<script src="../../assets/plugins/jquery-datatable/skin/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="../../assets/plugins/jquery-datatable/extensions/export/dataTables.buttons.min.js"></script>
<script src="../../assets/plugins/jquery-datatable/extensions/export/buttons.flash.min.js"></script>
<script src="../../assets/plugins/jquery-datatable/extensions/export/jszip.min.js"></script>
<script src="../../assets/plugins/jquery-datatable/extensions/export/pdfmake.min.js"></script>
<script src="../../assets/plugins/jquery-datatable/extensions/export/vfs_fonts.js"></script>
<script src="../../assets/plugins/jquery-datatable/extensions/export/buttons.html5.min.js"></script>
<script src="../../assets/plugins/jquery-datatable/extensions/export/buttons.print.min.js"></script>

<script type="text/javascript">

    var dataTable = $('#table').DataTable();

    $('.on').click(function () {
        var tableInfo = Array.prototype.map.call(document.querySelectorAll('#table'), function(tr){
            return Array.prototype.map.call(tr.querySelectorAll('td'), function(td){
                return td.innerHTML;
            });
        });

    });

    $('#table tbody').on( 'click', 'tr', function () {
        console.log( dataTable.row( this ).data() );
        console.log( dataTable.column( this ).data() );
    } );


</script>


</body>
</html>