<!-- Exportable Table -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    System Setup
                </h2>
            </div>
            <div class="body">

                <button class="btn btn-primary waves-effect" id="setup-std-logins">Setup student logins</button>
                <button class="btn btn-primary waves-effect" id="setup-cmp-logins">Setup companies</button>

                <div class="log" id="log"></div>
            </div>
        </div>
    </div>

</div>
<!-- #END# Exportable Table -->

<style type="text/css">
    p {
        margin: 0;
    }

    .log {
        font-size: 13px;
        height: 350px;
        overflow: auto;
        margin-top: 10px;
        border: solid 1px;
        padding: 7px;
        font-family: "Lucida Console", Monaco, monospace;
    }
</style>

<script type="application/javascript">

    var domain = "../../";

    var studentUsernames = [];

    var companyDetails = [];

    var studentCount = 0;
    var companyCount = 0;

    $('#setup-std-logins').click(function () {
        for (var i = 0; i < studentUsernames.length; i++) {
            $.ajax({
                type: "POST",
                url: domain + "signup",
                data: {
                    username: studentUsernames[i],
                    password: studentUsernames[i],
                    usertype: 0
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", getToken());
                },
                dataType: "json",
                success: function (response) {
                    if (response.success == true) {
                        addLogMsg("Added user " + response.data.username);
                        studentCount++;
                    } else {
                        addLogMsg("Error adding user " + response.data.username + " - " + response.msg);
                        console.log(response);
                    }
                    // todo
                    if (i === studentUsernames.length) {
                        showSuccessMessage(studentCount + " students inserted successfully , Out of  " + studentUsernames.length)
                    }


                },
                error: function (xhr, status, error) {
                    showErrorMessage("Something went wrong");
                    console.log(xhr);
                    console.log(status, error);
                }
            });


        }
        // alert(studentCount + " students inserted successfully , Out of  " + studentUsernames.length);

        studentCount = 0;
    });

    $('#setup-cmp-logins').click(function () {
        for (var i = 0; i < companyDetails.length; i++) {
            // Add user info
            $.ajax({
                type: "POST",
                url: domain + "signup",
                data: {
                    username: companyDetails[i].username,
                    password: companyDetails[i].password,
                    usertype: 1
                },
                dataType: "json",
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", getToken());
                },
                success: function (response) {
                    if (response.success === true) {
                        addLogMsg("User added " + response.data.username + " - " + response.data._id);
                        saveCompanyInfo(response.data.username, response.data._id);
                        companyCount++;
                    } else {
                        addLogMsg("Error adding user " + response + " - " + response.msg);
                        console.log(response);

                    }
                    if (i === companyDetails.length) {
                        showSuccessMessage(companyCount + " students inserted successfully , Out of  " + companyDetails.length)
                    }
                },
                error: function (xhr, status, error) {
                    showErrorMessage("Something went wrong");
                    console.log(xhr);
                    console.log(status, error);
                }
            });

        }
        companyCount = 0;
    });

    function saveCompanyInfo(username, userID) {
        for (var i = 0; i < companyDetails.length; i++) {
            if (companyDetails[i].username == username) {
                $.ajax({
                    type: "POST",
                    url: domain + "company",
                    data: {
                        name: companyDetails[i].name,
                        logo: companyDetails[i].logo,
                        userID: userID,
                        panels: companyDetails[i].panels,
                        positions: companyDetails[i].positions
                    },
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Authorization", getToken());
                    },
                    dataType: "json",
                    success: function (response) {
                        if (response.status === "success") {
                            addLogMsg("Company info added " + response.data.name);
                        } else {
                            addLogMsg("<----Error adding company----> ");
                            console.log(response);
                        }
                    },
                    error: function (xhr, status, error) {
                        showErrorMessage("Something went wrong");
                        console.log(xhr);
                        console.log(status, error);
                    }
                });
                break;
            }
        }
    }

    function addLogMsg(msg) {
        var para = document.createElement("p");
        var node = document.createTextNode(msg);
        para.appendChild(node);
        $('#log').append(para);
    }


</script>
