<!-- Exportable Table -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Student Table
                </h2>
            </div>
            <div class="body">
                <table id="studentTable" class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Username</th>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Year</th>
                        <th>Email</th>
                        <th>Stream</th>
                        <th>Apply Count</th>
                        <th>Availability</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- #END# Exportable Table -->

<style type="text/css">
    tr.selected {
        background: #fba175 !important;
    }
</style>

<script>

    var studentTable;

    function changeStudentAvailability(id, value) {
        $.ajax({
            type: "POST",
            url: domain + "student/updateAvailability",
            data: {
                userID: id,
                isAvailable: value
            },
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", getToken());
            },
            dataType: "json",
            success: function (response) {
                if (response.success == true) {
//                    showSuccessMessage("Done");
                    studentTable.ajax.reload();
                } else {
                    showErrorMessage("Something went wrong");
                    console.log(response);
                }
            },
            error: function (xhr, status, error) {
                showErrorMessage("Something went wrong");
                console.log(xhr);
                console.log(status, error);
            }
        });
    }

    $(document).ready(function () {

        studentTable = $('#studentTable').DataTable({
            dom: 'Bfrtip',
            responsive: true,
            buttons: [
                'pdf'
            ],
            ajax: {
                url: domain + 'user/students',
                dataSrc: 'result',
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("Authorization", getToken());
                }
            },
            "columns": [
                {"data": "username"},
                {"data": "name"},
                {"data": "phone"},
                {"data": "year"},
                {"data": "email"},
                {"data": "stream"},
                {
                    "data": "applyCount",
                    "width": "5%"
                },
                {"data": null}
            ],
            "columnDefs": [{
                // put true or false button for student availability
                targets: [-1], render: function (a, b, data, d) {
                    if (data.isAvailable) {
                        return "<button class='btn btn-success waves-effect' title='Click to change' " +
                            "onclick='changeStudentAvailability(\"" + data._id + "\", false)'>True</button>";
                    } else {
                        return "<button class='btn btn-danger waves-effect' title='Click to change' " +
                            "onclick='changeStudentAvailability(\"" + data._id + "\", true)'>False</button>";
                    }
                }
            }]
        });

    });
</script>
