<!-- Exportable Table -->
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    Student Table
                </h2>
            </div>
            <div class="body">
                <table id="studentTable" class="table table-bordered table-striped table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Year</th>
                        <th>Email</th>
                        <th>Stream</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Selected Companies <span style="color: #9f9f9f; font-size: 80%" id="selected-student-name"></span></h2>
            </div>
            <div class="body">
                <table id = "companyTable" class="table table-bordered table-striped table-hover" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Company</th>
                        <th>Position</th>
                        <th>Slot</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>Schedule <span style="color: #9f9f9f; font-size: 80%" id="schedule-student-name"></span></h2>
            </div>
            <div class="body">
                <table id = "scheduleTable" class="table table-bordered table-striped table-hover" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th width="20%">Time Slot</th>
                        <th>Company</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- #END# Exportable Table -->

<style type="text/css">
    tr.selected {
        background: #fba175 !important;
    }
</style>

<script>
$(document).ready(function() {
    var slots = [
        "1",
        "2",
        "3",
        "4",
        "5",
        "6",
        "7",
        "8"
    ];
    var studentID;


    var selectButton =  '<a class="btn btn-warning waves-effect btn-sm ajaxSelect"> </span> Select</a>';
    var removeButton = '<a class="btn btn-danger btn-sm waves-effect  ajaxRemove"> Remove</a>';

    var ajaxRemove = "ajaxRemove";
    var ajaxSelect = 'ajaxSelect';

    var studentTable = $('#studentTable').DataTable({
    dom: 'Bfrtip',
    responsive: true,
    buttons: [
        'pdf'
    ],
      ajax: {
          url: domain + 'student/all',
          dataSrc: 'result',
          beforeSend: function (xhr) {
              xhr.setRequestHeader("Authorization", getToken());
          }
      },
      "columns": [
          { "data": "name" },
          { "data": "phone" },
          { "data": "year" },
          { "data": "email" },
          { "data": "stream" }
      ]
    });

    var companyTable = $('#companyTable').DataTable({
        "order": [],
        dom: 'Bfrtip',
        responsive: true,
        buttons: [
            'pdf'
        ],
        ajax: {
            url: domain + 'selected_student_company/companies/' + studentID,
            dataSrc: 'result',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", getToken());
            }
        },
        "columns": [
            { "data": "company" },
            { "data": "position" },
            {
                "render": function(d,t,r){
                    var $select = $("<select></select>", {
                        "id": "start",
                        "value": d
                    });
                    $.each(slots, function(k,v){
                        var $option = $("<option></option>", {
                            "text": v,
                            "value": v
                        });
                        if(d === v){
                            $option.attr("selected", "selected")
                        }
                        $select.append($option);
                    });
                    return $select.prop("outerHTML");
                }
            },
            {   "data": null,
                "defaultContent": selectButton
            }
        ]
    });

    var scheduleTable = $('#scheduleTable').DataTable({
        dom: 'Bfrtip',
        responsive: true,
        buttons: [
            'pdf'
        ],
        ajax: {
            url: domain + 'student_schedule/schedule/' + studentID,
            dataSrc: 'result',
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Authorization", getToken());
            }
        },
        "columns": [
            { "data": "slot" },
            { "data": "company" },
            {   "data": null,
                "defaultContent": removeButton
            }
        ]
    });

    // Defines what happens on the button click on student table row
    studentTable.on('click', 'tr', function () {
        if ( $(this).hasClass('selected') ) {
            $(this).removeClass('selected');
        }
        else {
            studentTable.$('tr.selected').removeClass('selected');
            $(this).addClass('selected');
        }

        var rowData = studentTable.row($(this)).data();
        $('#selected-student-name').text(rowData['name']);
        $('#schedule-student-name').text(rowData['name']);
        studentID = rowData['studentID'];

        // Reload datatables with the new user id
        companyTable.ajax.url(domain + 'selected_student_company/companies/' + studentID).load();
        scheduleTable.ajax.url(domain + 'student_schedule/schedule/' + studentID).load();

    });

    companyTable.on("click", "." + ajaxSelect, function () {

        var rowData = companyTable.row($(this).parents('tr')).data();
        var slot = 4;
        var url = domain + 'student_schedule';
        var para = '&company=' + rowData['company'] + '&student=' + rowData['student'] + '&slot=' + slot;
        ajaxSend("POST", para, "ajaxSelect", null, url);
    });

    scheduleTable.on("click", "." + ajaxRemove, function () {
        var rowData = scheduleTable.row($(this).parents('tr')).data();
        var para = '&company=' + rowData['company'] + '&slot=' + rowData['slot'];
        var url = domain + 'student_schedule/' + studentID;
        ajaxSend("POST", para, "ajaxRemove", null, url);
    });

    function ajaxSend(type, params, action, clickRow, url) {
        $.ajax({
            type: type,
            url: url,
            data: params,
            dataType: "json",
            success: function (response) {
                switch (action) {
                    case "ajaxSelect":
                        if (response.success) {
                            showSuccessNotification("Student schedule updated successfully!");
                            //applicantTable.row(clickRow).remove().draw();
                            scheduleTable.ajax.url(domain + 'student_schedule/schedule/' + studentID).load();
                        } else {
                            showErrorMessage("Unexpected error #1, Please try again");
                            console.log(response);
                        }
                        break;

                    case "ajaxRemove":
                        if (response.success) {
                            showSuccessNotification("Schedule removed successfully!");
                            scheduleTable.ajax.reload(null, false);
                        } else {
                            showErrorMessage("Unexpected error #2, Please try again");
                            console.log(response);
                        }
                        break;
                }
            },
            error: function (xhr, status, error) {
                console.log(xhr);
                showErrorMessage("Unexpected error");
                console.log(status, error);
            }
        });
    }

    function showErrorMessage(msg) {
        swal(msg + "!", '', "error");
    }

    function showSuccessNotification(msg) {
        showNotification('alert-success', msg, 'top', 'right', null, null, 2000);
    }

});
</script>
